# GLOBAL
ENVIRONMENT=
NODE_ENV=

# ELASTIC
ELASTIC_NODE=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

# GOOGLE
GOOGLE_API_KEY=

# GOOGLE MAPS API
GOOGLE_MAPS_API_URL=
GOOGLE_MAPS_API_REQUEST_TIMEOUT=

# MERCADO PAGO
MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_NOTIFICATION_URL=

# MERCADO PAGO API
MERCADO_PAGO_API_URL=
MERCADO_PAGO_API_REQUEST_TIMEOUT=

# MERCADO PAGO AUTH
MERCADO_PAGO_AUTH_URL=
MERCADO_PAGO_AUTH_REDIRECT_URI=
MERCADO_PAGO_AUTH_CLOSE_SESSION_URL=

# MERCADO PAGO CHECKOUT
MERCADO_PAGO_CHECKOUT_REDIRECT_URI=

# TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=

# GOOGLE PUB SUB
GOOGLE_PUB_SUB_TOPIC_PREFIX=

# BITLY
BITLY_API_URL=
BITLY_API_TOKEN=
BITLY_API_TIMEOUT=
BITLY_API_GROUP_GUID=