# GLOBAL
ENVIRONMENT=
NODE_ENV=

# BEAST REDIRECT
BEAST_WEB_URL=

# ELASTIC
ELASTIC_NODE=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

# GOOGLE PLACES
GOOGLE_PLACES_URL=
GOOGLE_PLACES_REQUEST_TIMEOUT=
GOOGLE_PLACES_API_KEY=

# MERCADO PAGO
MERCADO_PAGO_URL=
MERCADO_PAGO_SANDBOX=
MERCADO_PAGO_REQUEST_TIMEOUT=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_NOTIFICATION_URL=

# TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=

# GOOGLE PUB SUB
GOOGLE_PUB_SUB_TOPIC_PREFIX=